/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --background-color: rgba(255, 241, 247, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --decor-color: rgba(53, 52, 48, 1);
  --title-color: rgba(255, 194, 230, 1);
  --title-shadow-color: rgba(255, 0, 112, 1);
  --section--title-color: rgba(53, 52, 48, 1);
  --section--text-color: rgba(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);
  --button-hover-color: rgba(50, 49, 45, 0.4);
  background: url(../images/cover-image-light.png) center / cover no-repeat fixed;
}

.theme_light>.header>.decor__element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: rgba(255, 241, 247, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --decor-color: rgba(53, 52, 48, 1);
    --title-color: rgba(255, 194, 230, 1);
    --title-shadow-color: rgba(255, 0, 112, 1);
    --section--title-color: rgba(53, 52, 48, 1);
    --section--text-color: rgba(53, 52, 48, 1);
    --text-color: rgba(53, 52, 48, 1);
    --button-hover-color: rgba(50, 49, 45, 0.4);
  }
  
  .page {
    background: url(../images/cover-image-light.png) center / cover no-repeat fixed;
  }

  .theme_auto>.header>.decor__element {
    display: none;
  }
}
