/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  max-width: 1024px;
  font-family: var(--font-family, sans-serif);
  font-size: var(--font-size);
  color: var(--text-color);
  font-style: normal;
  line-height: 130%;
  background: image-set(
    url(/images/cover-image-dark.png)
    ) center / cover no-repeat;
  background-attachment: fixed;
  background-color: var(--main-color);
  padding: var(--padding);
}

.header {
  display: grid;
  grid-template-rows: repeat(3, minmax(272px, 1fr));
  align-items: center;
}

.header__title {
  font-size: var(--title-font-size);
  color: var(--title-color);
  text-shadow: 4px 4px 0px #FF0070;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  align-self: start;
}

.header__text {
  max-width: 491px;
  justify-self: end;
  align-self: start;
}

.title-decor {
  background-color: var(--accent-color);
  color: #000028;
  font-weight: 700;
  line-height: 23.4px;
}

.header__theme-menu-list {
  display: flex;
  gap: 24px;
  position: relative;
}

.header__decor {
  position: absolute;
  top: 20px;
  right: 45px;
  color: var(--accent-color);
  line-height: 138.889%;
  text-transform: uppercase;
}

.header__theme-menu {
  justify-self: center;
  align-self: start;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--accent-color);
  font-family: inherit;
  line-height: 18px;
}
